.main {
    text-align: center;
    background-image: url("./assets/background.jpg");
    min-height: 80vh;
    background-size: cover;
    padding: 2rem;
    color: black;
    
}

.main h1,p{
    color: white;
}

.main h1 {
    font-size: 6rem;
}

.main p {
    font-size: 3rem;;
}